@mixin font($size, $weight) {
    font-size: ($size);
    font-weight: $weight;
}

@mixin bkgrd($background) {
    background: $background;
    background-blend-mode: darken;
    background-size: cover;
}