@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

main {
  margin: 2% 5% 2% 5%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2% 5% 2% 5%;
}

.errorText, .errorNumber, footer p, footer, .banner-container {
  display: flex;
  justify-content: center;
}

.errorContainer {
  display: flex;
  flex-direction: column;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.errorText, .errorNumber, footer p, footer, .banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-header_link-home, .nav-header_link-about {
  color: black;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  padding-left: 2rem;
}
.nav-header_link-home:hover, .nav-header_link-home:focus, .nav-header_link-about:hover, .nav-header_link-about:focus {
  text-decoration-line: underline;
}

.banner-container {
  height: 223px;
  border-radius: 25px;
  position: relative;
  background: rgba(0, 0, 0, 0.6) url(../../../src/assets/images/background-banner.png);
  background-blend-mode: darken;
  background-size: cover;
  margin-top: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

.banner-text {
  align-items: center;
  color: #FFFFFF;
  font-size: 48px;
  font-weight: 700;
  justify-content: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.card-logement {
  position: relative;
}
.card-logement img {
  display: flex;
  width: 340px;
  height: 340px;
  border-radius: 10px;
  object-fit: cover;
}
.card-logement__layer {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.card-logement__title {
  position: absolute;
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
  left: 5.88%;
  bottom: 5.88%;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #F6F6F6;
  border-radius: 10px;
  gap: 50px;
  margin: 43px 0;
  padding: 5% 1%;
}

.link_card_logement {
  text-decoration: none;
}

.about-banner {
  background: rgba(0, 0, 0, 0.3) url(../../../src/assets/images/about-background.png);
  background-blend-mode: darken;
  background-size: cover;
  height: 223px;
  border-radius: 25px;
  margin-top: 20px;
}

.collapse {
  margin: 31px auto 0;
}
.collapse__visible {
  background: #ff6060;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 47px;
  padding: 7px 15px;
  border-radius: 5px;
}
.collapse__visible h2 {
  font-size: 24px;
  font-weight: 700;
}
.collapse__toggle {
  opacity: 0;
  color: #000000;
  background: #F6F6F6;
  border-radius: 5px;
  transition: opacity 0.4s ease-in-out, height 0.4s 0.4s ease-in-out;
}
.collapse__toggle p {
  margin: 0;
  padding: 22px 15px;
  pointer-events: none;
  font-size: 18px;
  font-weight: 400;
}

.animated {
  opacity: 1;
  transition: height 300ms ease-in-out, opacity 300ms 300ms ease-in-out;
}

.chevron {
  width: 22px;
}

.rotated {
  transform: rotate(180deg);
  transition: 300ms ease-in-out;
}

.about-style {
  width: 87.5%;
}

.equipList {
  list-style-type: none;
}

.errorText, .errorNumber, footer p, footer, .banner-container {
  display: flex;
  justify-content: center;
}

.errorContainer {
  display: flex;
  flex-direction: column;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.errorText, .errorNumber, footer p, footer, .banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  height: 207px;
  background-color: #000000;
  flex-direction: column;
}
footer p {
  font-size: 24px;
  font-weight: 400;
  color: #FFFFFF;
  margin: 3% 0 -2% 0;
}
footer img {
  margin-bottom: -10px;
  height: 39.44px;
}

.errorContainer {
  color: #ff6060;
}

.errorNumber {
  font-size: 288px;
  font-weight: 700;
}

.errorText {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  margin-top: 5rem;
}

.errorLinkHome {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin: 10rem;
}
.errorLinkHome:hover, .errorLinkHome:focus {
  text-decoration-line: underline;
}

/*# sourceMappingURL=index.css.map */
