@import "../utils/mixins";
@import "../utils/placeholders";

footer {
	@extend %flex-center;
	height: 207px;
	background-color: $dark;
	flex-direction: column;

	p {
        @extend %flex-center;
        @include font(24px, 400);
		color: $tertiary-color;
        margin: 3% 0 -2% 0;
	}

	img {
        margin-bottom: -10px;
		height: 39.44px;
	}
}