header {
	display: flex;
	justify-content: space-between;
	align-items: center;
    margin: 2% 5% 2% 5%;

	@media screen and (max-width: 1024px) {
		margin: 5% 10% 5% 10%;
	}

	@media screen and (max-width: 768px) {
		margin: 5%;
		img{
			height: 46.88px;
		}
	}
}